body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ffafbd, #ffc3a0);
}

.login-container {
  background-color: #ffffff;
  padding: 40px; /* 균등한 padding 값을 줍니다. */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: calc(100% - 20px); /* padding 값을 고려하여 width 계산 */
  padding: 10px;
  margin: 10px 0; /* 위아래 margin 동일하게 조정 */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #218838;
}
