.hero {
  background-image: url("image/main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* 텍스트 색상을 흰색으로 설정 (가독성을 위해) */
  text-align: center; /* 텍스트를 중앙 정렬 */
  padding: 50px; /* 필요에 따라 여백 조정 */
}

/* Reset some basic elements */
body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and navigation styling */
header {
  position: fixed; /* 헤더를 화면 상단에 고정 */
  top: 0;
  left: 0;
  width: 98%; /* 전체 화면 너비에 맞게 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1%; /* 좌우 여백을 추가하여 가운데 정렬 효과 */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 다른 요소들보다 위에 보이도록 설정 */
}

header .logo h1 {
  font-size: 24px;
  color: #333;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

header nav button:hover {
  background-color: #ff4c3b;
}

/* Main content styling */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  margin-top: 60px; /* 헤더 높이만큼 여백 추가 */
}

.hero {
  background-image: url("image/main.jpg"); /* 이미지 경로 */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 66.67%; /* 화면의 2/3 크기로 설정 */
  margin: 0 auto; /* 가로축 가운데 정렬 */
  padding: 60px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 66.67vh; /* 화면 높이의 2/3 크기로 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직축 가운데 정렬 */
  align-items: center; /* 가로축 내부의 콘텐츠도 가운데 정렬 */
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

.hero .shop_now {
  background: #ffafbd;
  /*background: linear-gradient(135deg, #ffafbd, #ffc3a0);*/
  color: #fff;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-top: 70px;
}

.hero .shop_now:hover {
  background-color: #ffc3a0;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
