/* Header and navigation styling */
header {
  position: fixed; /* 헤더를 화면 상단에 고정 */
  top: 0;
  left: 0;
  width: 98%; /* 전체 화면 너비에 맞게 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1%; /* 좌우 여백을 추가하여 가운데 정렬 효과 */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 다른 요소들보다 위에 보이도록 설정 */
  height: 55px; /* 높이 설정 */
}

header .logo h1 {
  font-size: 24px;
  color: #333;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

header nav button:hover {
  background-color: #ff4c3b;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #84fab0, #8fd3f4);
  padding-top: 60px; /* 헤더 높이만큼 여백 추가 */
}

.signup-container {
  background-color: #ffffff;
  padding: 40px; /* 균등한 padding 값을 줍니다. */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-container input {
  width: calc(100% - 24px); /* padding 값을 고려하여 width 계산 */
  padding: 12px;
  margin: 10px 0; /* 위아래 margin 동일하게 조정 */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover {
  background-color: #0056b3;
}
